// Variable Overrides

// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";

.nav {
    display: inline-block;
}
.nav-link:hover {
    text-decoration: underline; ;
}
      .active, .btn:hover {
        background-color: #666;
        color: white;
      }

.jumbotron {
    color: white;
    background: url("../media/pirate-ship.jpg") no-repeat center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    min-height: 425px;
    padding-block-end: 3px;
    .display-3 {
        margin-top: 150px;
    }
}




